[Unit]
Description=PULSO AI Worker Service
After=network.target

[Service]
WorkingDirectory=/opt/pulso/worker
ExecStart=/usr/bin/dotnet /opt/pulso/worker/Pulso.AiWorker.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=pulso-worker
Environment=ASPNETCORE_ENVIRONMENT=Staging
Environment=DOTNET_ENVIRONMENT=Staging
Environment=GeminiModelName=gemini-3.1-flash-lite
Environment=GeminiApiKey=TU_GEMINI_API_KEY
Environment=ConnectionStrings__UpstashRedis=localhost:6379,password=TU_REDIS_PASSWORD,abortConnect=false
Environment="ConnectionStrings__DefaultConnection=Host=TU_DB_HOST;Port=6543;Database=postgres;Username=postgres.TU_PROJECT_ID;Password=TU_DB_PASSWORD;SslMode=Require;Trust Server Certificate=true;No Reset On Close=true;"
Environment=Telegram__BotToken=TU_TELEGRAM_BOT_TOKEN
Environment=Supabase__Url=https://TU_PROJECT_ID.supabase.co
Environment=Supabase__ServiceRoleKey=TU_SUPABASE_SERVICE_ROLE_KEY
Environment=Supabase__BucketName=reports
Environment=OTEL_EXPORTER_OTLP_ENDPOINT=http://TU_OBSERVABILITY_IP:18889
Environment=OTEL_EXPORTER_OTLP_PROTOCOL=grpc
Environment=OTEL_EXPORTER_OTLP_HEADERS=x-otlp-api-key=TU_OTLP_API_KEY
Environment=OTEL_SERVICE_NAME=pulso-worker

[Install]
WantedBy=multi-user.target
